

#foto{
  display: flex;
  justify-content: center;
}

p{
  margin: 5px;

  
}
#eu{
  border-radius: 100%;
  border: 5px solid rgb(174, 174, 250);
  align-self: center; 
}

h1{
  
  text-align: center;
}


.infos{
  
  float: left;
  height: 32vh;
  width: 25vw;
}

h3{
  text-align: center;
}
/*Iniciando*/

